@import "../../var.scss";

.main {
    width: 100%;
    height: 80vh;
    padding: 1rem 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.8fr 1.2fr 1fr;

    &_dashboard {
        grid-column: 1/4;
        grid-row: 1/2;
    }

    &_chart {
        grid-column: 1/3;
        grid-row: 2/3;
    }
    &_table-right {
        grid-column: 3/4;
        grid-row: 2/4;
        position: relative;
    }
    &_table-bottom {
        grid-column: 1/3;
        grid-row: 3/4;
    }
}
