@import "./var.scss";

/*  Default define */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
}

html,
body {
    @include respond(port) {
        font-size: 56.25%;
    }
    @include respond(land) {
        font-size: 62.5%;
    }
    @include respond(desktop) {
        font-size: 68.75%;
    }

    a {
        color: unset;
        text-decoration: none;
    }

    background-color: $color-body;
    font-size: 50%;
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    padding-top: 5rem;
}
