.calculator{
    margin: auto;
    margin-top: 5rem;
    padding: .1rem ;
    width: 18rem;
    height: 28.5rem;
    border-radius: .5rem;
    box-sizing: border-box;
    border: .3rem solid rgb(114, 114, 114);
    background-color: rgb(19, 18, 18);
}

.result{
    height: 5rem;
    margin: .5rem;
    margin-top: 1rem;
    color: white;
    box-shadow: 0 0 0.1rem 0.1rem gray;
    border-radius: .5rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 .5rem;
    font-size: 2rem;
    white-space: normal;
}

.row1{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin: 0 .2rem;
}

.row2,
.row3,
.row4,
.row5{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

.row1 button,
.row2 button,
.row3 button,
.row4 button,
.row5 button{
    width: 3.5rem;
    height: 3.5rem;
    margin: .3rem;
    color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: black;
    box-shadow: 0 0 0.1rem 0.1rem gray;
    border-radius: .3rem;
}

.row1 button:hover,
.row2 button:hover,
.row3 button:hover,
.row4 button:hover,
.row5 button:hover{
    background-color: gray;
}